@if (Session["Email"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Rejestruj", "Register", "Account", null, null)
        </li>
        <li>
            @Html.ActionLink("Zaloguj", "Login", "Account", null, null)
        </li>
    </ul>
}
else if (Session["Admin"].ToString() == "yes")
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Zarządzaj zleceniami", "ViewOrderState", "Order", null, null)
        </li>
        <li>
            @Html.ActionLink("Weryfikuj konta", "ConfirmAccount", "Account", null, null)
        </li>
        <li>
            @Html.ActionLink("Witaj Admin " + Session["Email"], "Index", "Home", null, null)
        </li>
        <li>
            @Html.ActionLink("Wyloguj", "Logout", "Account", null, null)
        </li>
    </ul>
}

else
{
    if (Session["Verified"].ToString() == "yes")
    {
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Moje zamówienia", "MyOrder", "Order", null, null)
        </li>
        <li>
            @Html.ActionLink("Złóż zamównienie", "Order", "Order", null, null)
        </li>
        <li>
            @Html.ActionLink("Witaj " + Session["Email"], "Index", "Home", null, null)
        </li>
        <li>
            @Html.ActionLink("Wyloguj", "Logout", "Account", null, null)
        </li>
    </ul>
    }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                         <li>
                                 @Html.ActionLink("Witaj " + Session["Email"] + ", czekaj na weryfikację konta.", "Pending", "Home", null, null)
                         </li>
                <li>
                         @Html.ActionLink("Wyloguj", "Logout", "Account", null, null)
                        </li>
                 </ul>
        }
}