@if (Session["Email"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Rejestruj", "Register", "Account", null, null)
        </li>
        <li>
            @Html.ActionLink("Zaloguj", "Login", "Account", null, null)
        </li>
    </ul>
}
else if (Convert.ToBoolean(Session["Admin"]) == true)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Widaj Admin " + Session["Email"] + Convert.ToBoolean(Session["Admin"]) + Session["Verified"], "Index", "Home", null, null)
        </li>
        <li>
            @Html.ActionLink("Wyloguj", "Logout", "Account", null, null)
        </li>
    </ul>
}
else if (Convert.ToBoolean(Session["Verified"]) == false && Convert.ToBoolean(Session["Admin"]) == false)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Musisz być zweryfikowany " + Session["Email"] + Session["Admin"] + Session["Verified"], "Index", "Home", null, null)
        </li>
        <li>
            @Html.ActionLink("Wyloguj", "Logout", "Account", null, null)
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hi " + Session["Email"] + Session["Admin"] + Session["Verified"], "Index", "Home", null, null)
        </li>
        <li>
            @Html.ActionLink("Wyloguj", "Logout", "Account", null, null)
        </li>
    </ul>
}